
#Mosaic {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    align-items: center;
    padding-left: 25%;

}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    margin: 0 0 0 0;
    font-family: "Roboto", serif;
}

.topnav {
    background-color: #333;
    padding-top: 5px;
    padding-bottom: 5px;

}

.content h1 {
    font-family: sans-serif;
    font-size: 5rem;
    font-weight: normal;
}

.topnav a {
    font-size: 20px;
    padding: 4px 14px 4px 14px;
    color: #f2f2f2;
}

.topnav a:hover {
    background-color: #AAAAAA;
    color: #333333;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 500px;


}

.content h2 {
    font-size: 2.6rem;
    font-weight: normal;
}

.content h3 {
    font-size: 3rem;
    font-weight: bold;

}

.content h4 {
    font-size: 2rem;
    text-align: center;
}

.tool {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.content > * {
    margin-left: 25%;
    margin-right: 25%;

}

.topinfo {
    margin-bottom: 2rem;
}

.topinfo > * {
    margin-bottom: 0.3rem;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.img_center {
    display: block;
    margin: auto;
    width: 75%;
}

.tool_redirect {
    text-decoration: none;
    color: #333333;
}

.tool_redirect:hover {
    background-color: #c2c2c2;
}

.box {
    background: #444;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #AAA;
}

.form_flex {
    align-items: flex-start;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_flex input,select {
    border: 0;
    background-color: tomato;
    box-shadow: none;
    outline: 0;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;

}

::placeholder { /* Most modern browsers support this now. */
    color: white;
    opacity: 1;
}

.form_flex input:focus {
    background-color: #F6826EFF;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=submit]{
    background-color: tomato;
}


#input_name{
    width: 35%;
}
#input_records{
    width: 35%;
}

.vertical_form{

}
.vertical_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}