{% extends "base.html" %}
{% block content %}
    <h1>About me</h1>
    <h3>Who are you?</h3>
    <div class="info">I'm a 21-year-old computer science student from Łódź, Poland. My biggest passion is music.
        I have my headphones on basically 24/7, except for sleeping. I've also always enjoyed collecting, looking at, and
        analyzing any data related to my hobbies. I am a big fan of sites like IMDB, MyAnimeList, OP.GG, RateYourMusic,
        and obviously Last.fm, which lets you track your activities. This website is the lovechild of those two
        passions, as well as a small showcase of my programming skills.
    </div>

    <h3>Special thanks to:</h3>
    <div class="info"><b>https://tapmusic.net and it's authors</b> <br> Since i'm really awful at frontend development,
        this
        website looks are heavily inspired by tapmusic. Well, to the point where i've started wondering if i didn't take
        the "inspiration" too far.
    </div>
    <div class="info"><b>Jérôme Lecomte</b> author of <a href="https://github.com/elmotec/circlify">circlify</a>
        without which creation of bubble chart wouldn't be possible ( since it would take ages to implement <a
                href="https://home.mis.u-picardie.fr/~cli/Publis/circle.pdf"><b>this</b></a>
        algorithm by myself )
    </div>

    <h3>Is this project opensource?</h3>
    <div class="info">
        Yeah, you can check out any of the avaible tools at <a href="https://github.com/Heroesluk/LastFMTools">https://github.com/Heroesluk/LastFMTools</a>
        The code of the website itself is not visible, security by obscurity and stuff :)
        Anyway, it's really not impressive, just a simple flask app with little to none javascript.
        Also, showing you my styles.css file would probably be considered a warcrime by geneva convention :)
    </div>
{% endblock %}