{% extends "base.html" %}
{% block content %}
    <h1>Contact me</h1>
    <div>
        <div>Email:</div>
        <div>lkbloch7@gmail.com</div>

    </div>
    <div>
        <div>Github:</div>
        <div>https://github.com/Heroesluk</div>
    </div>
    <div>
        <div>LastFM:</div>
        <div>https://www.last.fm/pl/user/heroesluk</div>
    </div>
    <div>
        <div>Discord:</div>
        <div>Heroesluk#2454</div>
    </div>
    <div>
        <div>RateYourMusic:</div>
        <div>https://rateyourmusic.com/~heroesluk</div>
    </div>



{% endblock %}