{% extends "base.html" %}
{% block content %}
    <h1>Contact me</h1>

    <div class="info">
        <div><b>Email:</b></div>
        <div>lkbloch7@gmail.com</div>

    </div>

    <div class="info">

        <div><b>Discord:</b></div>
        <div>Heroesluk#2454</div>
    </div>
    <div class="info">

        <div><b>Github:</b></div>
        <a href="https://github.com/Heroesluk">https://github.com/Heroesluk</a>
    </div>
    <div class="info">

        <div><b>LastFM:</b></div>
        <a href="https://www.last.fm/pl/user/heroesluk">https://www.last.fm/pl/user/heroesluk</a>
    </div>
    <div class="info">

        <div><b>RateYourMusic:</b></div>
        <a href="https://rateyourmusic.com/~heroesluk">https://rateyourmusic.com/~heroesluk</a>
    </div>



{% endblock %}