<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="data:;base64,=">
    <title>tak</title>
</head>
<body>

<form action="#" method="post">
    <p>Matrix_size: </p>
    <p><input type="text" name="matrix_size"></p>
    <p>Color: </p>
    <select name="mosaic_color">
        <option value="red">red</option>
        <option value="green">green</option>
        <option value="blue">blue</option>
        <option value="yellow">yellow</option>
        <option value="orange">orange</option>
        <option value="violet">violet</option>
        <option value="pink">pink</option>
        <option value="black">black</option>
        <option value="white">white</option>


    </select>
    <p><input type="submit" value="submit"></p>
</form>

</body>
</html>