{# templates/main.html #}

{% extends "base.html" %}

{% block content %}

    <div class="topinfo">
        <h1><b>Last.fm</b> toolbox</h1>
        <h2>Lets terrorize last.fm api together!
            What's the point in listening to music if you can't bother
            others with your cool charts
            They don't care about mosaic? How about bubble-chart then?</h2>
        <h3>Our tools: </h3>

    </div>

    <a class="tool_redirect" href="{{ url_for('bubbles') }}">
        <div class="tool">
            <h4>Gif-mosaic</h4>
            <img class="img_center" src="/static/movie.gif" width="100%">

            <div>Combine your charts from different time periods <br>
                With one gif you can show what you've been listening to for past year
            </div>

        </div>

    </a>

    <a class="tool_redirect" href="{{ url_for('bubbles') }}">
        <div class="tool">
            <h4>Bubble chart</h4>
            <img class="img_center" src="/static/example2.png" width="50%">
            <div>Visualize your favorite albums or artists <br> with bubbles of size represented by the
                number of your scrobbles
            </div>

        </div>
    </a>

    <a class="tool_redirect" href="{{ url_for('bubbles') }}">
        <div class="tool">
            <h4>Color-mosaic</h4>
            <img class="img_center" src="/static/colormosaic.jpg">
            <div>Group all of your favorite albums by the color <br> work in progress</div>

        </div>

    </a>



{% endblock %}