{# templates/main.html #}

{% extends "base.html" %}

{% block content %}

    <div class="topinfo">
        <h1><b>Last.fm</b> toolbox</h1>
        <h2>
            What's the point in listening to music if you can't bother
            others with your cool charts</h2>
        <h3>Tools: </h3>

    </div>

    <a class="tool_redirect" href="{{ url_for('mosaic') }}">
        <div class="tool">
            <h4>Gif-mosaic</h4>
            <img class="img_center" src="/static/movie2.gif" width="100%">

            <div>Combine your charts from different time periods <br>
                Show what you've been listening to for past year with one gif
            </div>

        </div>

    </a>

    <a class="tool_redirect" href="{{ url_for('bubbles') }}">
        <div class="tool">
            <h4>Bubble chart</h4>
            <img class="img_center" src="/static/example2.png" width="50%">
            <div>Visualize your favorite albums or artists with bubbles  which size<br>  represent
                number of their respective scrobbles
            </div>

        </div>
    </a>

    <a class="tool_redirect" href="{{ url_for('bubbles') }}">
        <div class="tool">
            <h4>Color-mosaic</h4>
            <img class="img_center" src="/static/colormosaic.jpg">
            <div>Group all of your favorite albums by the color <br> <i><b>work in progress</b></i></div>

        </div>

    </a>



{% endblock %}