{# templates/mosaic.html #}

{% extends "base.html" %}
{% block content %}
    <div class="topinfo">
        <h1><b>Last.fm</b> toolbox</h1>
    </div>
    <form action="#" method="post">


        <div class="vertical_container">
            <div class="vertical_form">
                <label for="nickname">lastfm </label>
                <input type="text" name="nickname"
                       id="nickname" placeholder="nickname">
            </div>

            <div class="vertical_form">
                <label for="start_date">Select date: </label>
                <input type="date" id="start_date" name="start_date"
                       value="2022-01-01">

            </div>
            <div class="vertical_form">
                <label for="matrix_size">Select matrix size: </label>
                <select name="matrix_size">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

            </div>

            <div class="vertical_form">
                <label for="time_delta">Select time delta: </label>
                <select name="time_delta">
                    <option value="week">week</option>
                    <option value="month">month</option>
                    <option value="3month">3 months</option>
                    <option value="6month">6 months</option>
                    <option value="year">year</option>
                </select>
            </div>

            <div class="vertical_form">
                <input id="submitbt" class="submit_btn" type="submit">

            </div>

        </div>
    </form>

    <div id="info">
        Depending on the selected values, it can take anywhere <br>
        between 15 and 90 seconds to complete generation of mosaic.
    </div>

{% endblock content %}
