{# templates/select_bubble.html #}

{% extends "base.html" %}
{% block content %}
    <div class="topinfo">
        <h1><b>Last.fm</b> toolbox</h1>
        <h2>Lets terrorize last.fm api together!
            What's the point in listening to music if you can't bother
            others with your cool charts
            They don't care about mosaic? How about bubble-chart then?</h2>
    </div>

    <form action="#" method="post">
        <div class="vertical_container" id="bubble_select_container">
            <input id="input_name" type="text" name="nickname" placeholder="Select your lastfm nickname" required>
            <input id="input_records" type="number" name="records_number" placeholder="How many records do you want
 to include"
                   min="10" max="150" required>
            <div class="vertical_form">
                <label for="record_type">Select whether you want to create bubble from top albums, or top
                    artists</label>
                <select id="record_type" name="record_type">
                    <option value="album">albums</option>
                    <option value="artist">artists</option>
                </select>
            </div>


            <input class="submit_btn" type="submit">

        </div>


    </form>
{% endblock content %}



